.left__icon {
  position: absolute;
  top: 50%;
  left: 2.7%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
  /* background: black; */
  z-index: 1;
  transform: rotate(180deg);
}

.left__arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  animation: arrow 700ms linear infinite;
}

.left__arrow::after,
.left__arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #fff;
}

.left__arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.left__arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

.right__icon {
  position: absolute;
  top: 50%;
  right: -0.3%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
  z-index: 1;
}

.right__arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  animation: arrow 700ms linear infinite;
}

.right__arrow::after,
.right__arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #fff;
}

.right__arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.right__arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
