.section {
    padding: 3rem 5rem;
    background: #F5F8FF;
    display: flex;
    justify-content: center;
    align-items: center;

    .div {
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: center;


        .h2 {
            font-size: 32px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-family: 'Caladea', serif;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 15px;
            color: #000000;
            line-height: 1.1;
            text-align: center;
            margin: 0 14%;
        }

        .h3 {
            font-size: 16px;
            margin: 0 0 10px;
            font-family: inherit;
            color: inherit;
            line-height: inherit;
            font-weight: 400;
            font-style: normal;
        }
    }


}